.elementos {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    align-items: flex-start; /* Alinea los elementos al principio */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a pantallas pequeñas */
    gap: 20px; /* Espacio entre los elementos */
    padding: 5rem;
}

.elemento {
    display: flex;
    flex-direction: column;
    background-color: #f4f6f1;
    padding: 2rem 1rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 300px; /* Añadido un ancho fijo */
}

.elemento:hover {
    transform: scale(1.02);
}

.elemento__titulo {
    color: rgb(49, 49, 49);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.elemento__figura {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.elemento__figura--imagen {
    width: 50vw;
    max-width: 200px;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.elemento__figura--imagen:hover {
    transform: scale(1.05);
}

.elemento__figura--texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin: 0 1rem;
}

.elemento__boton {
    font-family: 'Montserrat', sans-serif;
    color: #e21919;
    border: 3px solid #e21919;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.elemento__boton:hover {
    background-color: #e21919;
    color: #fff;
}
